<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merci</title>
    <style>
        body {
            font-family: Verdana, Geneva, sans-serif
        }
       .centre {
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }
        .text {
            text-align: center;
            font-size: 27px;
        }

    </style>
</head>
<body>
     <div class="centre">
        <div class="text">
            Merci d'avoir participé.
        </div>
    </div>
</body>
</html>