$def with (question)


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stat</title>

    <script src="/static/js/Chart.bundle.min.js"></script>
    <style>
        body {
            font-family: Verdana, Geneva, sans-serif
        }
       .centre {
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }
        .text {
            text-align: center;
        }
        .question {
            font-size: 27px;
        }
        canvas {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
  </head>
  <body>
    <!-- page content -->
    $ q = question["question"]
    <div class="centre">
        <div class="text">
            Résultat du sondage :<br>
            <span class="question">$q </span>
        </div>
        <canvas id="myChart"></canvas>

        <div class="text">
            $ txt ="Nombre total de vote : "+ str(question["totalVotes"]) if question["totalVotes"]<= 1 else "Nombre total de votes : "+ str(question["totalVotes"])
            $txt
        </div>

    </div>


    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                datasets: [{
                    data: [
                        $for a in question["answers"]:
                            $a["votes"] ,
                        ],
                    backgroundColor: ['rgba(255, 165, 0, 0.4)',
                                        'rgba(30, 144, 255, 0.4)',
                                        'rgba(255, 64, 64, 0.4)',
                                        'rgba(143, 0, 255, 0.4)',
                                        'rgba(188, 238, 104, 0.6)']
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    $for b in question["answers"]
                            "$b["answer"]" ,
                            $print(b["answer"])
                ]
            },

            // Configuration options go here
            options: {}
        });
    </script>
  </body>
</html>



